
.logo{
	width: 250px;
	margin-top: 0;
	margin-bottom:0;
	margin-right: auto;
	margin-left: auto; 
}
.pimg{
	width: 200px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	
}
.ping{
	box-shadow: 10px 20px 10px 20px  #aaa;
	border-radius: 500px;
}
.ptext h3{
	color:#BE2C2C;
	font-size: 30px;
}
.ptext p{
	color:#3F1111;
}
